# Игнорировать все файлы с расширением .pyc
*.pyc

# Игнорировать папку "venv"
venv/

# Игнорировать файл "config.ini"
config.ini

.env

# Игнорирование баз данных SQLite
*.db

# Игнорирование баз данных MySQL
*.mysql
*.sql
*.sql.gz
*.sql.xz

